apiVersion: batch/v1
kind: CronJob
metadata:
  name: flask-hello-pinger
spec:
  schedule: "*/2 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: curl
              image: curlimages/curl:8.8.0
              args:
                - "-fsS"
                - "http://flask-hello-svc.default.svc.cluster.local/"
